<div class="ty-customer-notes">
    <p class="ty-customer-notes__title">{__("gift_box_message")}:</p>
    <textarea class="ty-customer-notes__text" name="gift_box_message" cols="60" rows="3">{$smarty.session.gift_box_message}</textarea>
</div>